h1{
    color: brown; 
    font-family:'Bebas Neue';
    font-weight: 400;
    font-size: 100px;
}
header a:link{
    text-decoration: none;
}

nav ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
   

    
    
}
nav li a{
    display: flex;
    padding: 0px 6px 6px 6px;
    color: #ffc93c; 
    width: 15%;


  
}
nav li a:link{
    text-decoration: none;

}
nav .sidenav{
    font-size: 25px;
    font-family: monospace;
    height: 100%;
    position: fixed;
    background-color: transparent;
    
input[type=text], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
      }
      
      input[type=submit] {
        background-color: #5DADE2;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
      }