body {
    background-color: #580501;
}
nav{
}
nav ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
   

    
    
}
nav li a{
    display: flex;
    padding: 0px 6px 6px 6px;
    color: #ffc93c; 
    width: 33.33%;


  
}
nav li a:link{
    text-decoration: none;

}
nav .sidenav{
    font-size: 25px;
    font-family: monospace;
    height: 100%;
    position: fixed;
    background-color: #580501;
}
main {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 0%;
    margin-left: 0%;
    
}